<form class="form-register" action="register" method="POST">
    {% if errors %}
        <div class="alert alert-warning">{{ errors }}</div>
    {% endif %}
    {% csrf_token %}
    <h2>歡迎註冊!</h2>
    <div class="form-group">
        {{ registerForm.username.label_tag }}
        {{ registerForm.username }}
    </div>
    <div class="form-group">
        {{ registerForm.password1.label_tag }}
        {{ registerForm.password1 }}
    </div>
    <div class="form-group">
        {{ registerForm.password2.label_tag }}
        {{ registerForm.password2 }}
    </div>
    <div class="form-group">
        {{ registerForm.first_name.label_tag }}
        {{ registerForm.first_name }}
    </div>
    <div class="form-group">
        {{ registerForm.last_name.label_tag }}
        {{ registerForm.last_name }}
    </div>
    <div class="form-group">
        {{ registerForm.email.label_tag }}
        {{ registerForm.email }}
    </div>
        <div class="form-group">
        {{ registerForm.phone_number.label_tag }}
        {{ registerForm.phone_number }}
    </div>
    </div>
        <div class="form-group">
        {{ registerForm.address.label_tag }}
        {{ registerForm.address }}
    </div>
    </div>
        <div class="form-group">
        {{ registerForm.credit_card_number.label_tag }}
        {{ registerForm.credit_card_number }}
    </div>

    <button type="reset" class="btn btn-default pull-left">重設</button>
    <button type="submit" class="btn btn-primary pull-right">送出</button>
</form>