
<p>顧客名稱：{{ user.username }}</p>
{% if isReserved %}
<p>房號：{{ room_number }}</p>
<p>密碼：{{ room_password }}</p>
<form action="" method="POST">{% csrf_token %}
	<button type='submit' name='change' value='_'>重新產生密碼</button>
</form>
<p>入住日：{{ start }} </p>
<p>退房日：{{ end }} </p>
{% else %}
<p>您尚未訂房</p>
<a href="reservation">點我訂房</a>
{% endif %}
<a href="main">回到主畫面</a>
