

<form class="form-login" action="login" method="POST" style="position: absolute;left: 2%;"> 
    {% if errors %}
    <div class="alert alert-warning">{{ errors }}</div>
    {% endif %}
    {% csrf_token %}
    <h2>歡迎登入!</h2>
    <div class="form-group">
        {{ loginForm.username.label_tag }}
        {{ loginForm.username }}
    </div>
    <div class="form-group">
        {{ loginForm.password.label_tag }}
        {{ loginForm.password }}
    </div>
    <input type="hidden" name="next" value="{{ request.GET.next }}" />
    <button type="reset" class="btn btn-default pull-left">重設</button>
    <button type="submit" class="btn btn-primary pull-right">登入</button>
</form>