查看所有房間
{% for room in room_list %}
<div>
	<p>房號：{{ room.room_id}} </p>
	<p>吸菸房：{% if room.isSmokeRoom %}是 {% else %}否 {% endif %} </p>
	<p>可做套房：{% if room.isConnected %}是 {% else %}否 {% endif %}</p>
	<p>單人床：{{ room.single_beds }} </p>
	<p>雙人床：{{ room.double_beds }} </p>
	<p>定價：{{ room.room_price }} </p>
	<p>狀態：{% if room.occupying_costumer %} 已被預約 {% else %} 可預約 {% endif %} </p>
	<p><a href="room/{{room.room_id}}">點我看詳情</a></p>
</div><hr>
{% endfor %}
<a href="main">回主畫面</a>