<h1>訂單確認</h1>
<h2>以下是您預約的房間資料</h2>

<div>
	<p>房號：{{ room.room_id}} </p>
	<p>狀態：{% if room.occupying_costumer %} 已被預約 {% else %} 可預約 {% endif %} </p>
	<p>吸菸房：{% if room.isSmokeRoom %}是 {% else %}否 {% endif %} </p>
	<p>可做套房：{% if room.isConnected %}是 {% else %}否 {% endif %}</p>
	<p>單人床：{{ room.single_beds }} </p>
	<p>雙人床：{{ room.double_beds }} </p>
	<p>簡介：{{ room.introduction }} </p>
	<p>景觀房：{% if room.hasView %}是 {% else %}否 {% endif %} </p>
	<p>定價：{{ room.room_price }} </p>
	<p><b>現在下訂只要：{{ discount }}</b>！開幕八折先搶先贏！</p>
</div><hr>

<h2>您的付款資訊</h2>
<div>
	<p>付款人：{{ user.username }} </p>
	<p>帳單地址：{{ user.userinfo.address }} </p>
	<p>信用卡卡號：{{ user.userinfo.credit_card_number }} </p>
	<p>
	<form action="" method="POST">{% csrf_token %}
		{{form.as_p}}
		信用卡安全碼：
		<input type="text" name="security">
		<button type='submit'>確認並付款</button>
	</form></p>
	<p>本系統「並不會」記錄您的安全碼，僅限於本次交易！</p>
</div>
<a href="/reservation">回房間瀏覽</a>
