<p>房號：{{ room.room_id}} </p>
<p>狀態：{% if room.occupying_costumer %} 已被預約 {% else %} 可預約 {% endif %} </p>
<p>吸菸房：{% if room.isSmokeRoom %}是 {% else %}否 {% endif %} </p>
<p>可做套房：{% if room.isConnected %}是 {% else %}否 {% endif %}</p>
<p>單人床：{{ room.single_beds }} </p>
<p>雙人床：{{ room.double_beds }} </p>
<p>簡介：{{ room.introduction }} </p>
<p>景觀房：{% if room.hasView %}是 {% else %}否 {% endif %} </p>
<p>定價：{{ room.room_price }} </p>

{% if room.occupying_costumer %}
{% else %}
<p><a href="/pay/{{ room.room_id }}">點我立即預約！</a></p>
{% endif %}
<p><a href="/reservation">回前一頁</a></p>